@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap');

:root {
    /* --primary: #26282b; */
    --primary: #d4d6d9;
    --primary-100: #029AE0;
    --primary-200: #4a4946;
    /* --primary-300: #202124; */
    --primary-300: #f2f2f0;
    --background-100: #029AE0;
    --action-btn: #27d128;
    --font-xs: 10px;
    --font-sm: 12px;
    --font-base: 14px;
    --font-lg: 16px;
    --font-xl: 18px;
    --font-2xl: 20px;
    --font-3xl: 22px;
    --card-width: 350px;
}

.todo-item:hover {
    background-color: var(--primary-100);
}