@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap');

:root {
    /* Grayscale Colors */
    --bim-ui_gray-0: hsl(216, 4%, 22%);
    --bim-ui_gray-1: hsl(210, 4%, 22%);
    --bim-ui_gray-2: hsl(180, 2%, 11%);
    --bim-ui_gray-4: hsl(210 10% 40%);
    --bim-ui_gray-6: hsl(216, 7%, 87%);
    --bim-ui_gray-8: hsl(210, 2%, 79%);
    --bim-ui_gray-9: hsl(210 10% 90%);
    --bim-ui_gray-10: hsl(220, 1%, 47%);
  
    /* Brand Colors */
    --bim-ui_main-base: #09c281;
    --bim-ui_accent-base: #fdfeff;
  
    /* Brand Colors Contrasts */
    --bim-ui_main-contrast: var(--bim-ui_gray-10);
    --bim-ui_accent-contrast: var(--bim-ui_gray-0);
  }

.todo-item:hover {
    background-color: var(--primary-100);
}